[Unit]
Description=Start X for kioskuser
After=getty@tty1.service
Requires=getty@tty1.service

[Service]
Type=simple
User=kioskuser
ExecStart=/usr/bin/startx /home/kioskuser/start_firefox.sh
Restart=on-failure
RestartSec=5
TimeoutStartSec=infinity
StandardOutput=tty
TTYPath=/dev/tty1

[Install]
WantedBy=multi-user.target
